<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.isomorphismes.fouriersound">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.microphone" android:required="true" />
    <application android:allowBackup="false" android:hasCode="false"
        android:extractNativeLibs="true" android:label="Fourier microphone test"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity android:name="android.app.NativeActivity" android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <meta-data android:name="android.app.lib_name" android:value="fourier_microphone" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
